---
layout: default
title: "{{ page.title }}"
---

<div class="card mb-4 mx-auto" style="max-width: 900px;">
  <div class="row g-0 align-items-center">
    <div class="col-md-4 text-center p-3">
      <img src="{{ page.image | relative_url }}" alt="Portada llibre {{ page.title }}" class="img-fluid rounded book-cover">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title mb-1" style="font-size: 1.6rem;">{{ page.title }}</h5>
        <p class="card-subtitle text-muted mb-2">de <strong>{{ page.author }}</strong></p>

        <!-- Contingut amb paràgrafs -->
        {% assign paragraphs = content | newline_to_br | split: '<br />' %}
        {% for paragraph in paragraphs %}
          {% if paragraph != "" %}
            <p class="card-text">{{ paragraph | strip }}</p>
          {% endif %}
        {% endfor %}

        {% if page.nota %}
        <p class="card-text">
          <strong>Nota:</strong> {{ page.nota }}
        </p>
        {% endif %}

        <div class="d-flex justify-content-between align-items-center mt-4">
          <small class="text-muted mb-0">
            Publicat el {{ page.date | date: "%-d de %B de %Y" 
              | replace: "January", "gener"
              | replace: "February", "febrer"
              | replace: "March", "març"
              | replace: "April", "abril"
              | replace: "May", "maig"
              | replace: "June", "juny"
              | replace: "July", "juliol"
              | replace: "August", "agost"
              | replace: "September", "setembre"
              | replace: "October", "octubre"
              | replace: "November", "novembre"
              | replace: "December", "desembre"
            }}
          </small>
          {% if page.tags %}
            <div class="text-end">
              {% for tag in page.tags %}
                <span class="badge bg-light text-secondary ms-1">#{{ tag }}</span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
